<%-include("../partials/adminheader")-%>
    <section class="content-main">

        <form action="/admin/addproduct" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            
                            <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product Title</label>
                                    <input type="text" name="name" placeholder="Type here" class="form-control"
                                        id="product_name" required>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Brand</label>
                                    <input type="text" name="brand" placeholder="Type here" class="form-control" id="product_name"required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Product Description</label>
                                    <textarea  type="text" name="description" placeholder="Type here" class="form-control"  id="product_name"></textarea>


                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <div class="row gx-2">
                                                <input placeholder="Rs" name="price" type="text" class="form-control" required>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">

                                            <label class="form-label">Quantity</label>
                                            <input type="text" name="quantity" placeholder="Quantity" class="form-control" id="product_name" required>
                                        </div>
                                    </div>
                                  
                                    <div class="col-lg-4">
                                        <div class="mb-4">

                                            <label class="form-label">size</label>
                                            <input type="text" name="size" required placeholder="" class="form-control"
                                                id="product_name">
                                            
                                            
                                        </div>
                                    </div>
                                  


                                </div>
                            </form>


                        </div>
                    </div> <!-- card end// -->

                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" name="image" type="file" required multiple>
                            </div>
                        </div>
                    </div> <!-- card end// -->


                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Category</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-12 mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="categoryName">
                                        <% category.forEach(function(category) { %>
                                          <% if (category.block === 'List') { %>
                                            <option value="<%=category.name%>"><%=category.name%> </option>
                                          <% } %>
                                        <% }); %>
                                      </select>
                                      


                                </div>
                               
                               
                            </div> <!-- row.// -->
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </form>
    </section> <!-- content-main end// -->
    <%-include("../partials/adminfooter")-%>