<%-include("../Partials/userheader")-%>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    
							    <li class="nav-item">
							        <a ><h2>SIGNUP</h2></a>
							    </li>
							</ul>
							<div class="tab-content">
							   
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
							    
									<form action="/signup" method="post">
							    		<div class="form-group">
							    			<label for="register-email-2">Your Fullname *</label>
							    			<input type="username"  class="form-control"  id="fullname register-email-2" name="username" required>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-email-2">Your email address *</label>
							    			<input type="email" class="form-control" id="email register-email-2" name="email" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-group">
							    			<label for="register-password-2">Password *</label>
							    			<input type="password" class="form-control" id=" register-password-2" name="password" required>
							    		</div><!-- End .form-group -->
							    		<div class="form-group">
							    			<label for="register-password-2">Retype Password *</label>
							    			<input type="password" class="form-control" id="password register-password-2" name="repassword" required>
							    		</div><!-- End .form-group -->

							    		<div class="form-footer">
							    			<button id="submit" type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
											</div><!-- End .custom-checkbox -->
							    		</div><!-- End .form-footer -->
							    	</form>
							    	
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <% if (locals.title) { %>
        <script>
          Swal.fire({
            icon: 'info',
            title: '<%=title%>',
            showConfirmButton: false,
            timer: 2000
          });
        </script>
      <% } %>







	  
	  <script>
		$('#submit').on('click', function () {
			console.log('button clicked');
			let name = $('#fullname').val()
			let email = $('#email').val()
			let password = $('#password').val()

			let mailformat = /^([A-Za-z0-9_\-\.])+\@([A-Za-z_\-\.])+\.([A-Za-z]{2,4})$/;
			let nameformat = /^[a-zA-Z ]+$/;
			let passwordformat = /^(?=.*\d).{8}$/


			let validate = true;


			if (!name.match(nameformat)) {
			console.log("wrong Name Format")
			let text = "please enter a valid name"
			document.getElementById('na').innerHTML = text
			$('#fullname').focus()
			validate = false;
			}


			else if (!email.match(mailformat)) {
				console.log("wrong Email Format");
				let text = "plz enter a valid email address"
				document.getElementById('text').innerHTML = text
				$('#email').focus()
				validate = false;
			}

			else if (!password.match(passwordformat)) {
				console.log("wrong Password Format");
				let text = "plz enter a valid password"
				document.getElementById('text').innerHTML = text
				$('#password').focus()
				validate = false;
			}
			else {

				console.log("Please recheck everything")
			}

			if (validate) {
				console.log("validation ok")
				const data = {
					"name": name,
					"email": email,
					"gender": gender,
					"password": password
				}

				console.log(data)
				
				$.ajax({
					url: "/signup",
					method: "post",
					data: data,
					success: function (response) {
						if (response.messsage == "signup successfull") {
							Swal.fire({
								title: "Info",
								text: response.messsage,
								icon: "success",
								confirmButtonText: "OK"
							})
						} else {
							Swal.fire({

								title: "Info",
								text: response.messsage,
								icon: "error",
								confirmButtonText: "OK"
							}).then((result) => {
								if (result.isConfirmed) {
									location.reload()
								}
							})
						}



					}
				})


			}
			else {
				console.log("errorr")
			}



		})
	</script>


      <%-include("../Partials/userfooter")-%>